name: continuous-integration
on: push

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Fetch sources
        uses: actions/checkout@v4
      - name: Set up Haxe
        uses: krdlab/setup-haxe@v2
        with:
          haxe-version: 4.3.7
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          cache: npm
          node-version: latest
      - name: Cache haxelib dependencies
        id: haxelib-cache
        uses: actions/cache@v4
        with:
          path: .haxelib
          key: haxe-${{runner.os}}-${{hashFiles('install.hxml')}}
      - name: Install haxelib dependencies
        if: steps.haxelib-cache.outputs.cache-hit != 'true'
        run: |
          haxelib newrepo
          haxelib install --always --skip-dependencies install.hxml
          # TODO: switch to that for recent haxelib
          # haxelib state load install.hxml
      - name: Install npm dependencies
        run: npm ci
      - name: Run tests
        run: haxe test.hxml
  run:
    needs: test
    runs-on: ${{matrix.platform}}
    strategy:
      fail-fast: false
      matrix:
        platform: [macos-latest, ubuntu-latest, windows-latest]
    steps:
      - uses: HaxeFoundation/setup-hashlink@master
      - run: hl --version
